.content-main{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    row-gap:30px ;
    justify-content: center;
}
.barrapesquisa{
    height:30px;
    border:1px solid #f0f0f0;
    width: 200px;
    border-radius:5px ;
    font-size: 1.4rem ;
}
.barrapesquisa:focus-visible{
    outline: 1px solid rgba(28, 28, 191, 0.57);
}
.pesquiusa{
    padding: 50px;
}